footer {
    display: flex;
    width: 97%;
    background-color: rgba(29, 27, 27, 0.712);
    font-size: 20px;
    padding-left: 3%;
    flex-wrap: wrap;
}

.h3-align {
    padding-left: 14%;
}

footer li,
a {
    color: white;
}
.footer-div>ul>li {
    text-align: center;
    list-style: none;
}
.footer-div {
    width: 24%;
    padding-left: 1%;
    color: white;
}

.copyright {
    width: 100%;
    height: 60px;
    background-color: rgba(29, 27, 27, 0.712);
    border-top: 1px solid white;
    text-align: center;
}
.upperfooter{
    padding-top: 20px;
}
.inline{
    text-align: center;
}
.inline > p{
    /* display: inline-block; */
}
.footer-div > button {
    margin-left: 30%;
}
#sub{
    width: 55%;
}


@media (max-width: 670px) {
    footer {
        flex-direction: column;
    }
    .footer-div {
        width: 100%;
        border-bottom: 2px solid orangered;
    }
    .footer-div .underline {
        text-align: center;
    }
    .h3-align{
        padding-left: 7%;
    }
}