a:hover{
    color: orange;
}
.upperHeader {
    height: 50px;
    border: 2px solid darkgrey;

}

.headerIcon {
    width: 20px;
    height: 20px;
}

header>h2 {
    margin-left: 10px;
    display: inline-block;
}

header {
    background: rgba(211, 211, 211, 0.651);
    height: 70px;
    border: 2px solid darkgrey;
    display: flex;
    /* justify-content: space-around; */
}

.headerButton {
    width: 5em;
    height: 2em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
    text-align: center;
}

.headerButton a {
    color: black;
    text-decoration: none;
    
}

.headerButton a:hover {
    text-decoration: underline;
    color: red;
}

#searchBar {
    height: 30px;
    width: 250px;
    border-right: none;
}

.marginfromtop {
    margin-top: 15px;
}

#icon {
    width: 50px;
    height: 34px;
    background: rgba(255, 255, 255, 0);
    border-left: none;
    margin-left: -50px;
    /* margin-top: 0.5px; */
}

#searchIcon {
    width: 20px;
    padding-top: 5px;
}

.hero {
    background: rgba(180, 179, 179, 0.781);
    height: 300px;
    margin-top: -0%;
    border: 2px solid darkgrey;
}

.hero p {
    /* margin-left:35%; */
    text-align: center;
}

.belowHero {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    min-height: 170px;
    max-height: 170px;
    background-color: lightgrey;
    border:2px solid darkgrey;
}
.picture{
    margin-top: 20px;
    margin-left: 80px;
    display: inline-block;
    text-align: center;
    width: 180px;
}

.circle {
    width: 50%;
    height: 53%;
    border-radius: 50%;
    /* background-color: white; */
    margin-left: 0%;
    padding-top: 5%;
    margin-top: 2%;
}

.wrap {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.para {
    width: 35%;
    height: 20%;
}

.belowArticle {
    height: 80px;
    background-color: lightgray;
}

.belowArticle span {
    margin-left: 25%;
    font-size: 30px;
}

