body{
        font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
}
.upperHeader{
height: 50px;
border: 2px solid darkgrey;
}
.headerIcon{
    width: 20px;
    height: 20px;
}
header >h2{
    margin-left: 10px;
    display: inline-block;
}
header{
    background: rgba(211, 211, 211, 0.651);
    height: 70px;
    border: 2px solid darkgrey;
    /* display: flex;
    justify-content: space-around; */

}
#searchBar{
    height: 30px;
    border-right: none;
}
#icon{
    width: 50px;
    height: 37px;
    background: white;
    border-left: none;
    margin-left: -3px;
    
}

#searchIcon{
    width: 20px;
}
.hero{
    background:rgba(180, 179, 179, 0.781);
    height: 300px;
    margin-top: -0%;
    border: 2px solid darkgrey;
}

.hero p{
    /* margin-left:35%; */
    text-align: center;
}
.belowHero{
    height: 150px;
    background-color: lightgray;
    display: flex;

}
.circle{
    width: 50%;
    height: 53%;
    border-radius: 50%;
    /* background-color: white; */
    margin-left: 0%;
    padding-top: 5%;
    margin-top: 2%;

}
.wrap{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.para{
    width: 35%;
    height: 20%;
}
.belowArticle{
    height: 80px;
    background-color: lightgray;
}
.belowArticle span{
    margin-left: 25%;
    font-size: 30px;
}
footer{
    display: flex;
    width: 97%;
    background-color: rgba(29, 27, 27, 0.712);
    font-size: 20px;
    padding-left: 3%;
    flex-wrap: wrap;
}
.h3-align{
    padding-left: 45%;
}
footer li,a{
    list-style: none;
    /* text-decoration: none; */
    text-align: center;
    color: white;
}
.footer-div{
    width: 24%; 
    padding-left: 1%;
    color: white;
    /* border-right: 2px  solid blue; */
}


.copyright{
    width: 100%;
    height: 60px;
    background-color:rgba(29, 27, 27, 0.712);
    border-top: 3px solid blue;
}